<!DOCTYPE html>
<html ng-app="popup" ng-csp>

<head>
    <title>Click Lists's Popup</title>

    <link rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="./css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="./css/popup.css" />

</head>

<body ng-controller='popup-controller'>
    <div class="profile vertical-center">
        <img class="profile-picture" ng-src="{{profile.picture}}" />
        <div class="profile-details">
            <p class="profile-name">{{profile.name}}</p>
            <p class="profile-email"><small><i>{{profile.email}}</i></small></p>
        </div>
    </div>
    <div id="email-form" class="vertical-center">
        <form autocomplete="off" class="before" ng-class="{'not-empty' : email.length>0}" ng-submit="send()">
            <input class="ui-widget" type="text" id="emailinput" placeholder="Search or Type Email. Press Enter to Send..." autofocus ng-model="email" />

            <button type="button" class="email-clear" ng-show="email.length" ng-click="emailClear()"><i class="fa fa-times"></i></button>
        </form>
        <div class="quick-contact-wrapper vertical-center">
            <span class="quick-contact link-simg-wrapper" ng-repeat="qc in quickContacts | reverse" ng-click="clickedQuickContact(qc)" ng-init="p = getProfile(qc)" title="Send Link to {{qc}}" post-repeat-directive>
            <span class="initial">{{p.name[0] | uppercase}}</span>
            <img ng-hide="p.picture === null" data-img-src="{{p.picture | accessToken }}" data-img-loaded="false" class="link-simg batched-image-loader">
            </span>
        </div>
    </div>
    <div id="tab" class="vertical-center" ng-controller="tab-controller">
        <span id="tab-favicon">
                <img ng-src="{{tab.favicon}}"/>
            </span>
        <span id="tab-title">{{tab.title}}</span>
        <span id="tab-url">{{tab.url}}</span>
    </div>
    <div id="links">
        <div id="links-tab">
            <span ng-repeat="header in tabHeaders track by $index" class="links-tab-header" ng-class="{'selected' : $index == selectedTabIndex}" ng-click="showTab($index)"><!--<span class="header-icon"><i class="{{header.iconClass}}"></i></span> -->{{header.name}} <sup class="header-count">({{header.obj.length}})</sup></span>
            
            <span class="add-contact fa-btn" title="Add Contact (Refresh Contact after adding)" ng-click="addContact()" ng-show="!openSearch && selectedTabIndex === 2"><i class="fa fa-plus"></i></span>
            <span class="refresh-contact fa-btn" title="Refresh Contacts" ng-click="refreshContact()" ng-show="!openSearch && selectedTabIndex === 2"><i class="fa fa-address-card"></i> <small><i class="fa fa-refresh"></i></small></span>
            <span class="search-btn fa-btn" title="Search Received, Sent, Contacts" ng-hide="openSearch" ng-click="openSearch=true"><i class="fa fa-search"></i></span>
            <input type="text" placeholder="Search. . ." class='search-input' focus-on="openSearch" ng-show="openSearch" ng-model="searchstr" ng-blur="openSearch=false;searchstr=''" />
        </div>
        <div id="links-wrapper">
            <div class="lw lw-received" ng-show="selectedTabIndex === 0">
                <div class="list-item-div" ng-repeat="f in from | searchLink: searchstr | orderBy: 'timestamp':true track by f.linkKey" ng-class="{'open-comments': f.openComments}" ng-init="p = getProfile(f.from); l = links[f.linkKey]" post-repeat-directive>
                    <div class="vertical-center list-item-div-content">
                        <span class="link-simg-wrapper" title="{{p.name}}" ng-click="clickedProfilePicture(p)">
                        <span class="initial">{{p.name[0] | uppercase}}</span>
                        <img ng-hide="p.picture === null" data-img-src="{{ p.picture | accessToken }}" data-img-loaded="false" class="link-simg batched-image-loader">
                        </span>

                        <div class="link-details" ng-click="clickedLinkFrom(f)">
                            <p class="link-title vertical-center"><img class="favicon" ng-src="{{l.favicon}}" /> {{l.title}}</p>
                            <p class="link-url"><small>{{l.url}}</small></p>
                        </div>

                        <div class="link-actions">
                            <span class="seen" ng-class="{'enable': l.opened}" title="Link Opened"><i class="fa fa-eye"></i></span>
                            <span class="comment" title="Comment" ng-click="openComments(f)" ng-class="{'enable':f.openComments}"><i class="fa fa-comments"></i></span>
                            <small><sup class="comment-count">{{ getObjectLength(l.comments) }}</sup></small>
                            <span class="delete" title="Delete"><i class="fa fa-trash-o" ng-click="deleteFrom(f)"></i></span>
                        </div>
                    </div>
                    <div class="comments-container">
                        <ul>
                            <!--<li class="comment-wrapper">
                                <p class="comment-email">johev09@gmail.com</p>
                                <p class="comment-line">This is cool!</p>
                            </li>-->
                            <li class="comment-wrapper">
                                <form ng-submit="addComment(f.linkKey)">
                                    <p class="comment-email">{{profile.name}}</p>
                                    <p class="comment-line">
                                        <input type="text" focus-on='f.openComments' ng-model='comment[f.linkKey]' placeholder=". . ." />
                                    </p>
                                </form>
                            </li>
                            <li class="comment-wrapper" ng-repeat="c in l.comments | orderObjectBy: 'timestamp':true">
                                <div class="comment-content">
                                    <p class="comment-email">{{getProfile(c.commenter).name}}</p>
                                    <p class="comment-line">{{c.comment}}</p>
                                </div>
                                <div class="comment-actions vertical-center">
                                    <span class="delete" title="Delete" ng-show="c.commenter === profile.email"><i class="fa fa-trash-o" ng-click="deleteComment(f.linkKey, c.key)"></i></span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="lw lw-sent" ng-click="showSent()" ng-show="selectedTabIndex === 1">
                <div class="list-item-div" ng-repeat="t in to | searchLink: searchstr | orderBy: 'timestamp':true track by t.linkKey" ng-init="p = getProfile(t.to); l = links[t.linkKey]" ng-class="{'open-comments': t.openComments}" post-repeat-directive>
                    <div class="vertical-center list-item-div-content">
                        <span class="link-simg-wrapper" title="{{p.name}}" ng-click="clickedProfilePicture(p)">
                        <span class="initial">{{p.name[0] | uppercase}}</span>
                        <img ng-hide="p.picture === null" data-img-src="{{ p.picture | accessToken }}" data-img-loaded="false" class="link-simg batched-image-loader">
                        </span>

                        <div class="link-details" ng-click="clickedLinkTo(t)">
                            <p class="link-title vertical-center"><img class="favicon" ng-src="{{l.favicon}}" /> {{l.title}}</p>
                            <p class="link-url"><small>{{l.url}}</small></p>
                        </div>

                        <div class="link-actions">
                            <span class="received" ng-class="{'enable': l.received}" title="Link Received"><i class="fa fa-check"></i></span>
                            <span class="seen" ng-class="{'enable': l.opened}" title="Link Opened"><i class="fa fa-eye"></i></span>
                            <span class="comment" title="Comment" ng-click="openComments(t)" ng-class="{'enable':t.openComments}"><i class="fa fa-comments"></i></span>
                            <small><sup class="comment-count">{{ getObjectLength(l.comments) }}</sup></small>
                            <span class="delete" title="Delete Link"><i class="fa fa-trash-o" ng-click="deleteTo(t)"></i></span>
                        </div>
                    </div>
                    <div class="comments-container">
                        <ul>
                            <!--<li class="comment-wrapper">
                                <p class="comment-email">johev09@gmail.com</p>
                                <p class="comment-line">This is cool!</p>
                            </li>-->
                            <li class="comment-wrapper">
                                <form ng-submit="addComment(t.linkKey)">
                                    <p class="comment-email">{{profile.name}}</p>
                                    <p class="comment-line">
                                        <input type="text" focus-on='t.openComments' ng-model='comment[t.linkKey]' placeholder=". . ." />
                                    </p>
                                </form>
                            </li>
                            <li class="comment-wrapper" ng-repeat="c in l.comments | orderObjectBy: 'timestamp':true">
                                <div class="comment-content">
                                    <p class="comment-email">{{getProfile(c.commenter).name}}</p>
                                    <p class="comment-line">{{c.comment}}</p>
                                </div>
                                <div class="comment-actions vertical-center">
                                    <span class="delete" title="Delete" ng-show="c.commenter === profile.email"><i class="fa fa-trash-o" ng-click="deleteComment(t.linkKey, c.key)"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="lw lw-contacts" ng-click="showContacts()" ng-show="selectedTabIndex === 2" ng-controller="contacts-controller" when-scrolled="loadMore()">

                <div class="list-item-div" ng-repeat="c in contacts | searchContact: searchstr | orderBy: 'name' | limitTo: contactsMax" ng-click="contactClicked(c)" ng-init="p = getProfile(c.email)" post-repeat-directive>
                    <div class="list-item-div-content vertical-center">
                        <span class="link-simg-wrapper">
                        <span class="initial">{{ p.name[0] | uppercase }}</span>
                        <img ng-hide="p.picture === null" data-img-src="{{ p.picture | accessToken }}" data-img-loaded="false" class="link-simg batched-image-loader">
                        </span>

                        <div class="contact-details">
                            <p class="contact-name">{{ p.name }}</p>
                            <p class="contact-email"><small>{{p.email}}</small></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <span id="message"></span>
    </div>
    <div class="sign-in-container fill-container vertical-center hide-opacity" ng-hide="signedIn">
        <button class="sign-in-btn" ng-click="signIn()"><i class="fa fa-google"></i> SIGN IN</button>
    </div>

    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.batchedimageloader.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
